VITE_FIREBASE_API_KEY=AIzaSyAT0ZJtuBtn6FcN9psel9Onf7J_N8TAysA
VITE_FIREBASE_AUTH_DOMAIN=smart-city-e886e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-city-e886e
VITE_FIREBASE_STORAGE_BUCKET=smart-city-e886e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=216648160049
VITE_FIREBASE_APP_ID=1:216648160049:web:e75e9c49122e7cc4a7d610